/* For the more generic components in the app. */

/* Error Pane */

.ErrorPane {
  position: fixed;
  border-top: 1px solid #fbfafa;

  bottom: 0;
  left: 0;
  right: 0;
  height: 150px;

  display: flex;
  flex-direction: column;

  background-color: #faeeee;
}

.ErrorPane .Header {
  background-color: #f1f1f1;
  background-color: #f0cece;

  height: 30px;

  border-top: 1px solid indianred;
  border-bottom: 1px solid silver;
  display: flex;
  align-items: center;
}

.ErrorPane .Header .Title {
  flex: 1;
  padding-left: 10px;
  font-size: 11pt;
  font-weight: bold;
}

.ErrorPane .Header .Commands {
}

.ErrorPane .Body {
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 11pt;
  overflow: auto;
}

/* DISPLAY BLOCK */

.DisplayBlock {
  border-radius: 4px;
  border: 1px solid #eaebeb;

  margin-top: 20px;
}

.DisplayBlock .Header {
  display: flex;
  align-items: center;
  height: 30px;
  background-color: #f1f1f1;
}

.DisplayBlock .Header .Title {
  flex: 4;
  padding-left: 10px;
  font-size: 12pt;
}

.DisplayBlock .Header .Commands {
  text-align: right;
  display: flex;
  align-items: center;
}

.DisplayBlock .Body {
  /* padding: 15px; */
}

.DisplayBlock p {
  margin: 4px;
  font-size: 11pt;
  margin-left: 10px;
}
/* FORM */

.Form {
  margin: 10px;
  padding-bottom: 20px;
}

.Form .Fields {

  display: flex;
  flex-direction: column;
}

.Form .Fields .Field {
  flex: 1;

  border-left: none;
  border-right: none;

  /* margin-bottom: 10px; */
  margin-top: 10px;
  /* border: 1px solid red; */

  height: 35px;
  display: flex;
  align-items: center;

  position: relative;
}

.Form .Fields .Field .Title {
  position: absolute;
  bottom: 2px;
  right: 3px;
  color: MediumSeaGreen;
  color: #888;
  font-style: italic;
  font-size: 10pt;
  background-color: white;
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 4px;
  opacity: 0.9;
  border-top-left-radius: 4px;
}

.Form .Fields .Field input {
  flex: 1;

  margin: 0;
  border: none;

  font-size: 11pt;
  padding: 10px;
  padding-bottom:5px;
  padding-left: 0;

  color: #369;
  outline: none;
  border-bottom: 1px solid #d8d8d8;
}

.Form .Fields .Field input:focus {
  border-bottom: 1px solid lightblue;
}

.Form .Fields .Field select {
  flex: 1;

  margin: 0;
  border: none;

  font-size: 11pt;
  padding: 10px;
  padding-bottom:5px;
  padding-left: 0;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  color: #369;
  outline: none;
  border-radius: 0;
  border-bottom: 1px solid #d8d8d8;
}

.Form .Fields .Field select:focus {
  border-bottom: 1px solid lightblue;
}

.Form .Fields .Field textarea {
  flex: 1;

  margin: 0;
  border: none;

  font-size: 10pt;
  font-family: menlo, monaco, monospace;
  padding: 10px;
  padding-bottom:5px;
  padding-left: 0;

  /* resize: none; */

  max-height: 166px;
  outline: none;
  color: #369;
  border-bottom: 1px solid #d8d8d8;
}

.Form .Fields .Field .TextArea {
  content: editable;
  overflow: auto;

  flex: 1;

  margin: 0;
  border: none;

  font-size: 10pt;
  font-family: menlo, monaco, monospace;
  padding: 10px;
  padding-bottom:5px;
  padding-left: 0;

  /* resize: none; */

  min-height: 36pt;
  max-height: 166px;
  outline: none;
  color: #369;
  border-bottom: 1px solid #d8d8d8;
}

.Form .Fields .Field .TextArea:focus {
  border-bottom: 1px solid #369;
}

.Form .Fields .Field.Help {
  font-size: 10pt;
  /* border-bottom: 1px solid #d8d8d8; */
  /* width: 100%; */
  font-style: italic;
  white-space: nowrap;
  overflow-y: hidden;
  margin-top: 0;
  color: #999;
  margin-top: 0 !important;
  padding-top: 0;
  height: 15px;
  padding-bottom: 5px;
}

.Form .Fields .Field .Helper.Alert {
  color: IndianRed;
}

/* ICONS */

.Icon {
  fill: #369;
  width: 15px;
  height: 12px;
}

.Icon.ToggleOn {
  fill: MediumSeaGreen;
}

.Icon.ToggleOff {
  fill: #444;
}

/* BUTTON */

.Button {
  /* margin-right: 5px; */
  /* margin-left: 5px; */
  font-size: 10pt;
  text-align: center;

  border-radius: 4px;

  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
  display: flex;

  align-items: center;
  justify-content: center;

  cursor: pointer;
  color: #666;
  border: 1px solid transparent;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

}

.Button .Icon {
  display: inline;
  flex: 1;
  fill: #369;
  width: 15px;
  height: 15px;

  padding-right: 2px;

  display: flex;
  align-items: center;
}

.Button .Label {
  flex: 2;
  padding-right: 2px;
  font-size: 10pt;
  white-space: nowrap;

  display: flex;
  align-items: center;
}

.Button.Disabled .Label {
  color: silver;
  cursor: default;
}

.Button.Disabled .Icon {
  fill: silver;
}

.Button.Enabled:hover {
  border: 1px solid #e4e6e9;
}

.Button.Enabled:active {
  color: #1b60c2;
  background-color: #e4e6e9;
}
