html, body {
  padding: 0;
  margin: 0;
  font-family: helvetica, "helvetica neue", optima, sans-serif;
  height: 100%;
  box-sizing: border-box;
}

h1 {
  font-size: 14pt;
  font-weight: normal;
  margin: 0;
  margin-top: 0pt;
  margin-bottom: 10pt;
}

.App {
}

/* SideBar */

.SideBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  bottom: 0;
  background-color: #f9fafa;
  border-right: 1px solid #f1f1f1;
  box-sizing: border-box;
}

/* SideBar Header */

.SideBar .Header {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  border-bottom: 1px solid #eaebeb;
}

.SideBar .Header .Title {
  color: #888;
  font-size: 14pt;
}

/* SideBar Buttons */

.SideBar .Buttons {
  position: fixed;

  left: 0;
  width: 200px;
  height: 40px;
  bottom: 0px;

  border-top: 1px solid #eaebeb;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;

  padding-right: 15px;
  padding-left: 15px;
}

.SideBar .Buttons .Button {
  margin: 0;
}

/* SideBar Panels */

.SideBar .Panels {
  position: fixed;
  top: 40px;
  left: 0;
  width: 200px;
  bottom: 40px;
  padding-top: 20px;
  box-sizing: border-box;
  overflow-y: auto;
}

.SideBar .Panels .Panel {
  margin-top: 10pt;
  margin-right: 8pt;
  margin-left: 15pt;
  margin-bottom: 25px;
}

.SideBar .Panels .Panel .Title {
  color: #222;
  font-size: 11pt;
  font-weight: bold;
  padding: 4px;
  padding-bottom: 4px;

  border-radius: 2px;
}

.SideBar .Panels .Panel .Title.Active {
  cursor: pointer;
}

.SideBar .Panels .Panel .Title.Active:active {
  background-color: #e4e6e9;
}

.SideBar .Panels .Panel .Body {
}

.SideBar .Panels .Panel .Body .Item {
  font-size: 11pt;

  padding: 2px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin: 2px 8px 4px 0;

  cursor: pointer;
  border-radius: 2px;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  display: flex;
  align-items: center;
}

.SideBar .Panels .Panel .Body .Item.Selected {
  background: #D5FDD5;
}

.SideBar .Panels .Panel .Body .Item .Icon {
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.SideBar .Panels .Panel .Body .Item .Label {
  flex: 1;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.SideBar .Panels .Panel .Body .Item .Icon.Fn {
  color: DarkOrange;
  font-size: 11pt;
}


.SideBar .Panels .Panel .Body .Item .Icon.Env {
  fill: mediumseagreen;
}

.SideBar .Panels .Panel .Body .Item .Icon.Script {
  fill: DodgerBlue;
}

.SideBar .Panels .Panel .Body .Item:active {
  color: #1b60c2;
  background-color: #e4e6e9;
}

/* Script Summary Area */

.ScriptArea {
  position: fixed;
  top: 0;
  left: 200px;
  right: 0;
  bottom: 40px;

  padding: 20px;

  overflow-y: auto;
}

.ScriptArea .Lister {
  flex: 1;
}

/* Detail Table Mode */

table.Detailer {
  width: 100%;
  border-collapse: collapse;
}

table.Detailer tbody tr {
}

table.Detailer tbody tr th {
  font-size: 11pt;
  text-align: left;
  padding: 5px;
  padding-left: 0px;
  width: 84px;
}

table.Detailer tbody tr td {
  font-size: 11pt;
  text-align: left;
  padding: 4px;
}


/* Editor Area */

.EditorArea {

  position: fixed;
  top: 0;
  left: 200px;
  right: 0;
  bottom: 40px;

  box-sizing: border-box;

  display: flex;
  flex-direction: column;

  padding: 20px;
  padding-bottom: 10px;
}

/* Name Panel */
.EditorArea .NamePanel {
  height: 30px;
  margin-bottom: 10px;
  display: flex;

  border: 1px solid #d8d8d8;
}


.EditorArea .NamePanel input {
  flex: 1;
  border: 0;
  font-size: 11pt;
  color: #369;
  padding-left: 5px;
}

/* Cron Panel */
.EditorArea .CronPanel {
  height: 50px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.EditorArea .CronPanel .Widget {
  height: 30px;

  position: relative;
  display: flex;
  border: 1px solid #d8d8d8;
}

.EditorArea .CronPanel .Description {
  flex: 1;
  color: #369;
  font-size: 10pt;
  padding-top: 4px;
  font-style: italic;

  position: relative;
}

.EditorArea .CronPanel .Description.Error {
  color: IndianRed;
}

.EditorArea .CronPanel .Widget .Help {
  position: absolute;
  right: 10px;
  color: #888;
  white-space: nowrap;
  overflow-y: hidden;
  font-size: 8pt;
  top: 10px;
}

.EditorArea .CronPanel input {
  flex: 1;
  margin: 0;
  border: 0;
  font-size: 11pt;
  padding-left: 5px;
  color: #369;
}

/* Editor Panel */

.EditorArea .EditorPanel {
  flex: 2;

  display: flex;
  flex-direction: column;
}

.EditorArea .EditorPanel .EditorContainer {
  flex: 1;

  border: 1px solid #d8d8d8;

  display: flex;
}

.EditorArea .EditorPanel .EditorContainer textarea {
  flex: 1;
}

/* Control Bar */

.ControlBar {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 200px;
  height: 40px;
  box-sizing: border-box;

  border-top: 1px solid #eaebeb;

  padding-left: 7px;
  display: flex;
  align-items: center;

  background-color: white;
}

.ControlBar .Button {
}

/* ResultPanel */

.ResultBlocks {
  display: flex;
  flex-direction: column;

  height: 300px;
}

.ResultBlocks .ResultBlock {
  flex: 1;

  border-top: 1px solid #e6e6e6;

  display: flex;
  flex-direction: column;

  position: relative;
}

.ResultBlocks .ResultBlock.Error {
  border-top: 3px solid red;
}

.ResultBlocks .ResultBlock.Error .Title {
  color: indianred;
}

.ResultBlocks .ResultBlock .Title {
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  font-size: 9pt;
  color: #888;
}

.ResultBlocks .ResultBlock .Result {
  flex: 1;
  overflow-y: auto;

  padding: 5px;
  padding-top: 20px;
  size: 11pt;
  display: flex;
}

.ResultBlocks .ResultBlock .Result pre {
  flex: 1;
  color: #369;
  overflow: auto;

  margin: 0;

  display: flex;
}

/* Components */

.Lister .Status {
  display: inline;
  margin-right: 5px;
}

.Lister .Status.Active .Icon {
  fill: MediumSeaGreen !important;
}

.Lister .Status.Inactive .Icon {
  fill: IndianRed !important;
}

.Lister table {
  width: 100%;
  border-collapse: collapse;

  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.Lister table thead tr {
  background-color: #f1f1f1;
}

.Lister table thead tr th {
  text-align: left;
  font-size: 11pt;
  font-weight: normal;
  color: #999;
  padding: 4px;
  max-width: 50px;
  text-overflow: ellipsis;
  overflow: auto;
  white-space: nowrap;
}

.Lister table tbody tr.Selected {
  background: #eaebeb;
  background: #D5FDD5;
}

.Lister table tbody tr td {
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
  font-size: 11pt;
  font-weight: normal;
  padding: 4px;

  max-width: 50px;
  text-overflow: ellipsis;
  overflow: auto;
  white-space: nowrap;
}

.Clickable:hover {
  background-color: #D1E2FE;
  cursor: pointer;
  text-decoration: none;
}

.Clickable:active {
  opacity: 0.75;
}

/* Work Area */

.WorkArea {
  position: fixed;
  top: 0;
  left: 200px;
  right: 0;
  bottom: 0;

  box-sizing: border-box;
  padding: 20px;
}
